@keyframes onLoad {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

body {
    margin: 0;
    animation: 1s ease-out onLoad;
    background: #000 url("../../assets/img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}


h1 {
    font-size: 25px;
    line-height: 70px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

a {
    text-decoration:none
}

#main-window {
    position: relative;
    margin: 70px auto;
    border-radius: 7px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    max-width: 700px;
    height: 470px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(48, 53, 57, 0.9);
}

.avatar {
    right: -22px;
    top: -22px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.9);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.avatar > img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
    position: absolute;
}

.links {
    position: absolute;
    width: auto;
    right: 15px;
    bottom: 10px;
}

.links > a {
    margin-left: 5px;
}


.links > svg {
    width: 100px;
    height: 100px;
}

.cp {
    position: absolute;
    font-size: 12px;
    left: 12px;
    bottom: 12px
}

@media (max-width: 590px) and (min-width: 100px) {
    h1 {
        font-size: 11px;
    }
    p {
        font-size: 10px;
    }

    .avatar {
        width: 80px;
        height: 80px;
    }

    .cp {
        visibility: hidden;
    }

    .links > a {
        margin-left: 1px;
    }
}
